# Python virtual environments
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large binaries & data sources (restricted to root level)
/data/
/models/
*.fits

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# StarSight training outputs
artifacts/
